
.item{
    flex-direction: column;
    justify-content:flex-end;
}
.item img {
    width: 100px;
}
.item img:hover{
    width:110px ;
}

.item_game{
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
}

.contenedor_button{
    width: 280px;
    height: 75%;
    
}
.button{
    width: 250px;
    height: 50px;
    font-size: 20px;

}
.button:hover{
    width: 270px;
    height: 57px;
    font-size: 25.5px;
}

.contenedor_resultado{
height: 60%;    
}

.resultado img {
    width: 100px;
}
