/* https://piedra-papel-tijera.com/images/ */

:root {
    --colorbg:linear-gradient(to right top, #051937, #373d56, #646578, #92919b, #c0c0c0);

}


body{
margin: 0;
padding: 0;
background-image: var(--colorbg);
background-repeat: no-repeat;
height: 100vh;
display: flex;
align-items: center;
}
.msmContainer{
    position: absolute;
    z-index: 2;
    width: 70vw;
    height: 70vh; 
    margin-top: 30% ;   
    margin:0 auto;
    background: #a3d2ca;
    border-radius: 15px;
    
}
.msmContainer h1{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    transition: .5s;
}
.contenedor_resultado{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.resultado{
    width: 45%;
    height: 80%;
    text-align: center;
    border-radius: 20px;
}
.resultado p {
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: 5px;
}
.resultado img {
    width: 200px;
}

.titulo{
    position: absolute;
    width: 70%;
    text-align: center;
}
.titulo h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    transition: .5s;

}
.Contenedor_btn_reiniciar{
    display: flex;
    justify-content: center;
}
.button_reiniciar{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(46, 53, 70);
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;

}
.button_reiniciar:hover{
    width: 210px;
    height: 42px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
}
.button_reiniciar:active{
    transform: scale(.95);
} 

.main{
    width: 70vw;
    height: 70vh; 
    margin-top: 30% ;   
    margin:0 auto;
    background-color: #a3d2ca;
    border-radius: 15px;
    /* overflow: hidden; */
}

.item{
    position: absolute;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.item_game{
    width: 215px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.item img{
    width: 200px;
    cursor: pointer;    
    transition: .5s;
    border-radius: 50%;
}
.item img:hover{
    width: 210px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
}
.item img:active{
    transform: scale(.95);
}

.contenedor_button{
    width: 450px;
    height: 80px;
    /* margin: auto; */
    position: absolute;
    top: 50% - 40px;
    left: 50% - 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(46, 53, 70);
    font-size: 30px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;

}
.button:hover{
    width: 420px;
    height: 77px;
    font-size: 32.5px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
}
.button:active{
    transform: scale(.95);
}

.hide{
    display: none;
}