/* https://piedra-papel-tijera.com/images/ */

:root {
    --colorbg:linear-gradient(to right top, #051937, #373d56, #646578, #92919b, #c0c0c0);
    --font-base:'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: var(--font-base);
    font-size: 62.5%;
}


body{
background-image: url(../assets/img/space.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
display: flex;
align-items: center;
}





/* /////////////////////////////////////////////////////////////////////////////////// */
.msmContainer{
    position: absolute;
    z-index: 1;
    width: 100vw;
    max-width: 1000px;
    height: 70vh; 
    margin-top: 30% ;   
    margin:0 auto;
    /* background: #a3d2ca; */
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%);
}
.msmContainer h1{
    text-align: center;
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: .5s;
}
.contenedor_resultado{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2.0rem;
}

.resultado{
    width: 45%;
    height: 80%;
    text-align: center;
    border-radius: 2.0rem;
}
.resultado p {
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
    margin: 5px;
}
.resultado img {
    margin-top: 40px;
    width: 100px;
}


.button.reiniciar {
   top: 80%;
   left: 50%;
   transform: translate(-50%);
} 
.button_reiniciar:hover{
    width: 210px;
    height: 42px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
}
.button_reiniciar:active{
    transform: scale(.95);
} 


/* ////////////////////////////////////////////////////////////////////////////////// */

.main{
    width: 100vw;
    height: 90vh; 
    /* margin-top: 1px;    */
    margin:0 auto;
    border-radius: 15px;
    display: grid;
    place-items: center;
    /* overflow: hidden; */
}

.container_principal{
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.titulo{
    position: relative;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.titulo h1{
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
    transition: .5s;

}
.item{
    width: 70%;
    max-width: 1000px;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.item_game{
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.item img{
    width: 100px;
    cursor: pointer;    
    transition: .5s;
    border-radius: 50%;
}



.button{
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(46, 53, 70);
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    /* outline: none; */
    border: none;
    cursor: pointer;
    transition: .5s;

}



.hide{
    display: none;
}